body {
  background-color: #e6ecf0;
}

.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: black;
}

.navbar li:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.navbar a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}

.navbar-brand > img {
  width: 50px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
  display: inline-block;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-color: white;
}
